<header>
  {{!-- navbar --}}
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Trash Talk Generator</a>
    </div>
  </nav>
</header>

<div class="container">
  <p>
  <h2 style="text-align: center">你想對誰說幹話？</h2>
  </p>
  <form method="POST" action="/">
    <div class="row">
      <div class="card m-3" style="width: 18rem; height: 15rem">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
          class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="target" id="engineer" value="engineer" {{#if
              careerTitle.engineer}}checked{{/if}}>
            <label class="form-check-label" for="flexRadioDefault1">
              工程師
            </label>
          </div>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem; height: 15rem">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
          class="card-img-top" alt="..." style="height: 180px">
        <div class=" card-body">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="target" id="designer" value="designer" {{#if
              careerTitle.designer}}checked{{/if}}>
            <label class="form-check-label" for="flexRadioDefault1">
              設計師
            </label>
          </div>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem; height: 15rem">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
          class="card-img-top" alt="..." style="height: 180px">
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="target" id="enterpreneur" value="enterpreneur" {{#if
              careerTitle.enterpreneur}}checked{{/if}}>
            <label class="form-check-label" for="flexRadioDefault1">
              創業家
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <span>
        <button>
          講RRR
        </button>
      </span>
      <span>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
          style="display:inline-block;">{{ talk }}</textarea>
      </span>
    </div>
  </form>

</div>